head {
    align-items: start;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0.527);
}

.page-header{
    display: flex;
    align-items: center;
    max-block-size: 100px;
    border-radius: 50px;
}

#head{
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    margin-bottom: 25px;
    padding-left: 50px;
    overflow: hidden;
}

header nav.navbar{
    align-items: center;
    top: 50%;
    left: 50%;
}

.navbar{
    display: flex;
    margin-right: 20px;
}

.navbar a{
    display: block;
    padding-left: 23px;
    color: rgba(53, 52, 52, 0.87);
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    transition: all .3s;
}

.navbar a:hover{
    color: rgba(137, 43, 226, 0.849);
}

.lmdshow{
    margin-top: 45px;
    padding-left: 750px;
}

.caption{
    display: flex;
    padding-left: 0px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.pic{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    width: 50%;
    height: 30%;
}

.pie1{
    display: flex;
    margin-top: 470px;
    transform: translateX(-250px);
    font-family: 'Oswald', sans-serif;
    color: black;
}

.pie2{
    display: flex;
    margin-top: 470px;
    transform: translateX(-220px);
    font-family: 'Oswald', sans-serif;
    color: black;
}

.pie3{
    display: flex;
    margin-top: 470px;
    transform: translateX(-380px);
    font-family: 'Oswald', sans-serif;
    color: black;
}

#mierdon{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#mierdon article{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-left: 20px;
}

#caca1{
    transform: translateX(50px);
}

#caca2{
    transform: translateX(50px)
}

#caca3{
    transform: translateX(-270px)
}

.putote{
    height: 400px;
}